.campoPesquisa {
    display: flex;
    align-items: center;

    span {
        position: absolute;
        padding: 20px;
        display: flex;
        align-items: center;
    }

    input {
        border-radius: 20px;
        border: 0;
        outline: none;
        background-color: var(--cinza-claro);
        width: 290px;
        padding: 5px 40px;
    }
}